.education {

  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  .education__degree {
    font-size: 1.75rem;
    margin-bottom: .5rem;
    position: relative;
    z-index: 0;
    padding: 1rem 0 0 2rem;

    &:before {
      content: '';
      display: block;
      height: 80px;
      width: 80px;
      background: $secondary-color;
      margin: 0 0 1rem 0;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
  }

  .education__school {
    color: $primary-color;
    font-size: 1.5rem;
    margin-bottom: .5rem;
  }

  .education__date {
    font-size: 1.25rem;
    color: $gray;
    font-weight: $font-weight-base;
    margin-bottom: 1.25rem;
  }

  .education__description {
    padding: 0 0 0 1rem;
    margin: 0;
  }
}
