// Header globals
.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  background-color: $header-bg-color;
  background: $grandient-default;
  width: 100%;
  //height: $header-height;
  z-index: 999;
  transition: $transition-base;

  &.headroom.headroom--top {
    //background: transparent;
  }

  //&.headroom.headroom--unpinned {
  //  transform: translateY(-$header-height);
  //}
}
