// Navbar block styles
.navbar {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background: $grandient-default;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: $transition-base;

  &--show {
    opacity: 1;
    visibility: visible;
  }

  .navbar__menu {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }

  .navbar__link {
    color: $white;
    text-decoration: none;
    padding: $button-padding;
    border-radius: $button-radius;
    display: block;
    text-align: center;
    font-weight: $font-weight-bold;

    &:hover {
      background: rgba($white, .1);
    }
  }
}
