.section {
  padding: $wrapper 0;

  .section__heading {
    text-align: center;
    margin-bottom: 2.5rem;
    font-size: 2rem;
  }
  // Section Light
  &--light {
    background-color: $light;
  }
}
